@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.main-container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-container{
    border: 2px maroon;
    height: 100vh;
    
}

.logo, .left-container{
    display: flex;
    flex-flow: row wrap;
}

.photo{
    background-image: url(pexels-mudassir-ali-2680270.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: auto;
    width: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    gap: 1vw;
    padding: 15px;
    justify-content: center;
    align-items: center;
}
    
h1{
    color: #EDF5E1;
}

.pixa{
    height: 10vh;
}
.right-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 60vw;
    background-color: #379683;
}

.text{
    font-weight: 500;
    width: 80%;
    font-size: 24px;
    color: #05386b;
    text-align: center;
}

.remote-text{
    margin: 40px 0 80px;
}

.form{
    background-color: #8ee4af;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding: 20px 0 ;
    border-radius: 4px;
}

.form-lol{
    display: flex;
    flex-flow: row wrap;
    gap: 48px;
    padding: 20px;
    justify-content:space-evenly;
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 12px;
    text-transform: uppercase;
}

.form-head{
    width: 100%;
    font-size: 24px;
    font-weight: 500;
}

input{
    background-color: #EDF5E1;
    border: 1px solid #4d4d4d;
    border-radius: 4px;
   
}

label,input{
    display: flex;
    flex-direction: column;
    margin: 0 60px;
}

input:focus{
    outline: none;
    border: 2px solid #cf044b;
}

button{
    background-color: #379683;
    color: #EDF5E1;
    font-weight: 800;
    font-size: 24px;
    border: 4px solid #cf044b;
    border-radius: 4px;
    padding: 10px 40px;
    margin: 40px;
}

button:hover{
    background-color: #cf044b;
    color: #379683;
}

.log-in{
    display: flex;
    gap: 6px;
    color: #05386b;
    font-size: 24px;
}

a{
    text-decoration: none;
    color: #cf044b;
    font-weight: 800;
}

a:hover{
    color: #EDF5E1;
}
